@import url('https://fonts.googleapis.com/css?family=Comfortaa:400');

* {
    box-sizing: border-box;
}

html, body {
    font-family:  system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue';
    background: #0d1117;
}

header {
    display: flex;
    justify-content: center;
}

.content {
    color: #c9d1d9;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    justify-content: center;
}

.card {
    background: #30363d;
    width: 380px;
    padding: 2vw;
    margin: 40px 10px;
    border: #424344 2px solid;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: transform 50ms ease, filter 50ms ease;
}

#card-title {
    display: flex;
    margin-bottom: 1vw;
}

#card-content { 
    display: flex;
    font-size: 35pt;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-size: 40pt;
    color: #c9d1d9;
    text-transform: uppercase;
    align-content: center;
    display: flex;
    justify-content: center;
    transition: filter 50ms ease, transform 50ms ease;
    width: fit-content;
}

img {
    width: 120px;
    height: 100px;
}

h2 {
    font-size: 40pt;
    margin: 20px 0 0 10px;
}

a:hover {
    transform: scale(1.02);
    filter: brightness(1.2);
}